/* Homepage Hero Header font & positioning */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header > h1{
    padding-top: 11rem;
    padding-bottom: 10vh;
    padding-left: 7vh;
    padding-right: 7vh;

    font-family: 'ambidexter', 'roc-grotesk-wide';
    font-style: normal;
    font-weight: 400;
    font-size: var(--blog-heading);
    line-height: 127.6%;
    text-align: center;

    color: #FFFFFF;
}

header > p{
    padding-top: 4vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    
    text-align: center;
    font-weight: 700;
    font-size: var(--blog-heading);
    color: var(--accent-2);
}

main > p {
    font-family: 'roc-grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: var(--self-intro);
    text-align: center;

    color: var(--type-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    padding-top: 10vh;
    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh; 
}

@media (min-width: 1080px) {
    header > h1{
        padding-top: 15rem;
        padding-bottom: 10vh;
        padding-left: 15vh;
        padding-right: 15vh;
    }

    main > p {
        padding-bottom: 20vh;
        padding-left: 10rem;
        padding-right: 10rem;
    }

}